<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Customs</title>
</head>
<body>

<header>
    <nav class="navbar navbar-light bg-light justify-content-between">
        <h2>Lista de Clientes</h2>
        <form method="get" class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="buscar">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>

    <div>
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="customnew">
                <img src="{% static '/addCustomes.png' %}" width="40" height="40" class="d-inline-block align-top"
                     alt="">
                Añadir Nuevo Cliente
            </a>
        </nav>
    </div>
</header>

<section>



    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido.P</th>
            <th scope="col">Apellido.M</th>
        </tr>
        </thead>
        <tbody>
        {% for client in cliente %}
        <tr>
            <th scope="row">{{client.id_cliente}}</th>
            <td>{{client.nombre}}</td>
            <td>{{client.apellidopaterno}}</td>
            <td>{{client.apellidomaterno}}</td>
            <td><a href="detalles/{{client.id_cliente}}">Ver detalle</a></td>
            <td><a href="editar_custom/{{client.id_cliente}}">Editar</a></td>
            <td><a href="eliminarCustom/{{client.id_cliente}}">Eliminar</a></td>
        </tr>
        {%endfor%}
        </tbody>
    </table>
</section>
</body>
</html>