<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimun-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static '/cstmrs.css' %}">
    <title>Custom edit</title>
</head>
<body>
<section>
    <form method="post" class="editCstom">
        {% csrf_token %}

        <div class="mb-3">
            <label class="form-label">Id Usuario</label>
            {{formCliente.id_cliente}}
        </div>

        <div class="mb-3">
            <label class="form-label">Nombres</label>
            {{formCliente.nombre}}
        </div>

        <div class="mb-3">
            <label class="form-label">Apellido Paterno</label>
            {{formCliente.apellidopaterno}}
        </div>

        <div class="mb-3">
            <label class="form-label">Apellido Materno</label>
            {{formCliente.apellidomaterno}}
        </div>

        <div class="mb-3">
            <label class="form-label">Telefono</label>
            {{formCliente.telefono}}
        </div>

        <div class="mb-3">
            <label class="form-label">Ciudad</label>
            {{formCliente.ciudad}}
        </div>

        <div class="mb-3">
            <label class="form-label">Estado</label>
            {{formCliente.estado}}
        </div>

        <div class="mb-3">
            <label class="form-label">Deuda</label>
            Deuda {{formCliente.totaldeuda}}
        </div>

        <div class="mb-3">
            <label class="form-label">Tipo CLiente</label>
            {{formCliente.tipocliente}}
        </div>
        <button type="submit">Enviar</button>
    </form>
</section>
</body>
</html>